<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="DefaultDocument" />
            <remove name="StaticFile" />
            <remove name="TRACEVerbHandler" />
            <remove name="OPTIONSVerbHandler" />
            <add name="StaticFile" path="*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>
